<!--View Information-->
<!--View name : Try App No Back Button-->
<!--State name : app.tryAppNoBackBtn-->
<!--URL : #app/tryAppNoBackBtn-->

<ion-view title="Try App" class="bg-static" hide-nav-bar="true">
    <!--try app section-->
    <!--  <ion-header-bar align-title="left" class="bar-assertive1">
          &lt;!&ndash;<div class="buttons">
              <button class="button">Left Button</button>
          </div>&ndash;&gt;
        <div align="center"><h1 class="title" ><font color="white">ZOLO-GET   <font color="#4c3cb1"><b>THINGS</b></font>  DONE</font></h1></div>
          &lt;!&ndash;<div class="buttons" ng-click="doSomething()">
              <button class="button">Right Button</button>
          </div>&ndash;&gt;
      </ion-header-bar>-->
    <!--try app section-->
    <ion-footer-bar align-title="left" class="bar-assertive1" ng-click="getStarted()">
        <!--<div class="buttons">
            <button class="button">Left Button</button>
        </div>-->
        <h1 class="title"><font color="white">GET</font>  <font color="#4c3cb1"><b>STARTED</b></font></h1>
        <!--<div class="buttons" ng-click="doSomething()">
            <button class="button">Right Button</button>
        </div>-->
    </ion-footer-bar>
    <ion-slide-box id="try-app-content" active-slide="0">
        <!--slider section-->
        <ion-slide class="slide-01">
            <!--    <div class="row try-app-footer-content">
                    <div class="col-50">
                        <a href="#/app/fakeSignUp" class="left md-raised md-button md-default-theme ">SIGN UP</a>
                    </div>
                    <div class="col-50">
                        <a href="#/app/fakeLogin" class="right md-raised md-button md-default-theme">Log In</a>
                    </div>
                </div>-->
            <div class="walk-1">
                <img src="img/walk1-mobile.png"/><br/>
                <h1 style="color: #fff;" >Discover</h1>
            </div>
            <div><p style="color: #fff;font-size: 22px;opacity: 0.5">Professional services & passionate experts in over 500 Categories</p></div>

        </ion-slide>
        <ion-slide class="slide-02">
            <div class="walk-1">
                <img src="img/walk2-mobile.png"/><br/>
                <h1 style="color: #fff;" >OutSource</h1>
            </div>
            <div><p style="color: #fff;font-size: 22px;opacity: 0.5">Thousands of talented people to help you get anything done</p></div>
        </ion-slide>
        <ion-slide class="slide-03">
            <div class="walk-2">
                <img src="img/walk3-mobile.png"/><br/>
                <h1 style="color: #fff;" >Accomplish More</h1>
            </div>
            <div><p style="color: #fff;font-size: 22px;opacity: 0.5">Starting today</p></div>

        </ion-slide>
        <!--<ion-slide class="slide-04"></ion-slide>-->
        <!--<ion-slide class="slide-05"></ion-slide>-->
        <!--<ion-slide class="slide-06"></ion-slide>-->
        <!--<ion-slide class="slide-07"></ion-slide>-->
        <!--<ion-slide class="slide-08">-->
        <!--<a href="" class="sign-up-button md-raised md-button md-default-theme material-background">-->
        <!--SIGN UP MATERIAL</a>-->
        <!--</ion-slide>-->
        <!--end slider section-->
    </ion-slide-box><!--end try app section-->
</ion-view>