
#toggle-menu-right-header {
    height: 154px;
    background: url(../img/background_cover_pixels.png) repeat 0;
    background-position-x: 8px;
    color: white;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.14), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    background-repeat: repeat;
    position: relative;
    background-size: 80%;
    z-index: 9000; }
#toggle-menu-right-header div.menu-right-header {
    position: relative;
    top: 58%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 0 0 16px; }
#toggle-menu-right-header div.menu-right-header img.user-img {
    border-radius: 50%;
    width: 62px;
    height: 62px;
    margin-bottom: 2px; }
.user-img{
    border-radius: 50%;
    width: 62px;
    height: 62px;
    margin-bottom: 2px;
}
.bg-sign{
    background:url("../img/bg-signin.png") no-repeat;
    /*background-size: cover;*/
    -webkit-background-size: cover;
}

.bar-assertive1{
    color: #fff;
    border-color: #FFF;
    background-color: black;
    opacity:0.5;
    /*background-image: linear-gradient(0deg, #e42012, #e42012 50%, transparent 50%);*/
}
.bg-static{
    background:url('../img/walk1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    /*background-image: linear-gradient(0deg, #e42012, #e42012 50%, transparent 50%);*/
}
.img-res{
    width:250px !important;
    height:auto;
    margin-bottom: 10%;
}
.custom-fontwhite{
    color: white;
}
.custom-fontsize{
    font-size: 20px;
}
.walk-1 img{
    margin-top:30% ;
    width:110px; /* you can use % */
    height: auto;
}
.walk-2 img{
    margin-top:30% ;
    width:220px; /* you can use % */
    height: auto;
}

.md-input{
    color:white !important;
}
#toggle-menu-right-header div.menu-right-header p {
    font-weight: bolder; }
#toggle-menu-right-header div.menu-right-header p span.title {
    font-size: 16px; }
#toggle-menu-right-header div.menu-right-header p span.sub-title {
    font-size: 12px; }

#toggle-menu-right-content {
    margin-top: 154px; }
#toggle-menu-right-content md-list h2 {
    background-color: transparent !important; }
#toggle-menu-right-content md-list h2 div.md-subheader-inner {
    background-color: transparent !important; }
#toggle-menu-right-content md-list md-list-item.menu-list-item {
    display: table;
    width: 100%; }
#toggle-menu-right-content md-list md-list-item.menu-list-item i {
    margin-right: 30px;
    margin-right: 22px;
    font-size: 19px;
    color: gray;
    width: 20px; }
#toggle-menu-right-content md-list md-list-item.menu-list-item span {
    font-size: 15px; }
#toggle-menu-right-content .menu-list .menu-item {
    padding: 14px; }
#toggle-menu-right-content .menu-list .menu-item .col-33 {
    text-align: center;
    font-size: 22px;
    color: gray; }
#toggle-menu-right-content .menu-list .menu-item .col-66 {
    font-size: 15px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis; }
